
h1 {
    color: blueviolet;
    background-color: rgb(42, 12, 97);
    color: white;
}
.left-side {
    
    background-color: rgb(139, 184, 184);
}
.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  h5 {
      color: blueviolet;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }